<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <h1>Agrawal Restaurant</h1>
        <div class="image i1"></div>
        <div class="details">
            <h1>Address:Nh - 2 Near Maheshwari Hospital, Mathura 281003 India<em></em></h1>
            <h2>Contact:+91 85330 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1>DASAPRAKASH RESTAURANT</h1>
        <div class="image i2"></div>
        <div class="details">
            <h1>Address:Kridha Residency, Raman Reti, Near Axis Bank, Nandanvan<em></em></h1>
            <h2>Contact:+91 95330 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1> GOPAL RESTAURANT</h1>
        <div class="image i3"></div>
        <div class="details">
            <h1>Address:Dampier Nagar, Opposite Govt Museum, Mathura 281001 India<em></em></h1>
            <h2>Contact:+91 95389 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1>Agrawal Restaurant</h1>
        <div class="image i1"></div>
        <div class="details">
            <h1>Address:Nh - 2 Near Maheshwari Hospital, Mathura 281003 India<em></em></h1>
            <h2>Contact:+91 85330 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1> GOPAL RESTAURANT</h1>
        <div class="image i3"></div>
        <div class="details">
            <h1>Address:Dampier Nagar, Opposite Govt Museum, Mathura 281001 India<em></em></h1>
            <h2>Contact:+91 95389 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1>DASAPRAKASH RESTAURANT</h1>
        <div class="image i2"></div>
        <div class="details">
            <h1>Address:Kridha Residency, Raman Reti, Near Axis Bank, Nandanvan<em></em></h1>
            <h2>Contact:+91 95330 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1> GOPAL RESTAURANT</h1>
        <div class="image i3"></div>
        <div class="details">
            <h1>Address:Dampier Nagar, Opposite Govt Museum, Mathura 281001 India<em></em></h1>
            <h2>Contact:+91 95389 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1>DASAPRAKASH RESTAURANT</h1>
        <div class="image i2"></div>
        <div class="details">
            <h1>Address:Kridha Residency, Raman Reti, Near Axis Bank, Nandanvan<em></em></h1>
            <h2>Contact:+91 95330 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>
    <div class="wrapper">
        <h1>Agrawal Restaurant</h1>
        <div class="image i1"></div>
        <div class="details">
            <h1>Address:Nh - 2 Near Maheshwari Hospital, Mathura 281003 India<em></em></h1>
            <h2>Contact:+91 85330 00460</h2>
            <p></p>
        </div>
        <h1></h1>
    </div>

</body>

</html>